/* raleway-700 - latin */
/* Для практики один шрифт локально */
@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 700;
  src: local('Raleway Bold'), local('Raleway-Bold'),
    url('../fonts/raleway-v16-latin-700.woff2') format('woff2'),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
      url('../fonts/raleway-v16-latin-700.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

:root {
  --main-font: 'Roboto', sans-serif;
  --primary-text-color: #212121;
  --secomdary-text-color: #757575;
  --accent: #2196f3;
  --text-dark-theme-color: #fff;
  --secondary-background-color: #f5f4fa;
  --social-link-color: #afb1b8;
  --footer-background-color: #2f303a;
}

body {
  color: var(--primary-text-color);
  background-color: var(--text-dark-theme-color);

  font-family: var(--main-font);
  letter-spacing: 0.03em;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

p,
h1,
h2,
h3 {
  padding: 0;
  margin: 0;
}

.container {
  margin-left: auto;
  margin-right: auto;
  padding-right: 15px;
  padding-left: 15px;
  width: 1200px;
  /* outline: 2px solid blueviolet; */
}

.list {
  padding: 0;
  margin: 0;
  list-style: none;
}

.link {
  display: block;
  text-decoration: none;
}

.main-title {
  margin-top: 0px;
  margin-bottom: 50px;

  font-weight: bold;
  font-size: 36px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-align: center;
}

.main-subtitle {
  margin-top: 0px;

  font-weight: bold;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
}

address {
  font-style: normal;
}

.social-icons {
  width: 20px;
  height: 20px;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  /* продумать наследование цвета */
}

/* НАВИГАЦИЯ */

.header {
  border-bottom: 1px solid #ececec;
}

.navigation {
  display: flex;
  align-items: center;
}

.navigation-list {
  display: flex;
}

.logo {
  display: block;
  margin-right: 85px;

  color: #000;

  font-family: Raleway;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.19;
}

.logo span {
  color: var(--accent);
}

.navigation-list-item:not(:last-child) {
  margin-right: 50px;
}

.navigation-list-link {
  display: block;
  position: relative;
  padding-top: 32px;
  padding-bottom: 32px;

  color: var(--primary-text-color);

  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.navigation-list-link.studio {
  color: var(--accent);
}

/* временно | псевдо-тренька */
.navigation-list-link.studio::after {
  content: '';
  display: block;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 4px;

  background-color: var(--accent);
  border-radius: 2px;
}

/* АДРЕСС НАВИГАЦИИ */

.address-header {
  margin-left: auto;
}

.address-header-list {
  display: flex;
}

.adress-header-list-item:not(:last-child) {
  margin-right: 30px;
}

.address-header-link {
  display: flex;
  align-items: center;
  padding-top: 32px;
  padding-bottom: 32px;

  color: var(--secomdary-text-color);

  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/* Тренька c псевдо */

/* .address-header-link.link::before {
  content: '';
  display: inline-flex;
  width: 16px;
  height: 11px;

  background-image: url(../images/address_logo/envelope.svg);
} */

.header-icons {
  fill: var(--secomdary-text-color);
  margin-right: 10px;
  /* vertical-align: middle; */
}

.address-header-link:hover,
.address-header-link:focus,
.address-header-link:hover .header-icons,
.address-header-link:focus .header-icons,
.navigation-list-link:hover,
.navigation-list-link:focus {
  color: var(--accent);
  fill: var(--accent);
}

/* 2 способ - унаследованием родного цвета и ховера у родителя: */
.header-icons {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  /* fill: currentColor;
  margin-right: 10px; */
}

/* ЗАГОЛОВОК */

.main {
  max-width: 1600px;
  margin-right: auto;
  margin-left: auto;
  padding-top: 200px;
  padding-bottom: 200px;

  background-image: linear-gradient(
      to right,
      rgba(47, 48, 58, 0.8),
      rgba(47, 48, 58, 0.8)
    ),
    url(../images/background_header/Header.jpg);

  text-align: center;
}

@keyframes zoomtitle {
  from {
    opacity: 0;
    transform: scale3d(0.3, 0.3, 0.3);
  }
  to {
    opacity: 1;
  }
}

.main-heading {
  margin-top: 0;
  margin-bottom: 30px;

  color: var(--text-dark-theme-color);

  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;

  animation: zoomtitle 1000ms linear;
}

.main-heading-order-button {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 200px;
  height: 50px;
  border: none;
  border-radius: 4px;

  background-color: var(--accent);
  color: var(--text-dark-theme-color);

  font-weight: bold;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  cursor: pointer;
  outline: none;
}

/* О НАС */

.about-us {
  padding-top: 94px;
  padding-bottom: 94px;
}

.about-us-list {
  display: flex;
}

.about-us-list-item {
  width: calc((100% - 90px) / 4);
}

.about-us-list-item:not(:last-child) {
  margin-right: 30px;
}

.about-us-block {
  display: flex;
  width: 270px;
  height: 120px;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
  background-color: var(--secondary-background-color);
}

.about-us-icons {
  width: 70px;
  height: 70px;
}

/* проба псевдо

.about-us-list-item::before {
  content: '';
  display: block;
  max-width: 270px;
  height: 120px;
  margin-bottom: 30px;
  background-repeat: no-repeat;
  background-position: center;
  background-color: var(--secondary-background-color);
} */

/* .about-us-list-item:nth-child(1)::before {
  background-image: url(../images/about_us_logo/antenna.svg);
}

.about-us-list-item:nth-child(2)::before {
  background-image: url(../images/about_us_logo/clock.svg);
}

.about-us-list-item:nth-child(3)::before {
  background-image: url(../images/about_us_logo/diagram.svg);
}

.about-us-list-item:nth-child(4)::before {
  background-image: url(../images/about_us_logo/astronaut.svg);
} */

.about-us-subtitle {
  margin-bottom: 10px;
}

.about-us-description {
  margin: 0;

  color: var(--secomdary-text-color);

  font-size: 14px;
  line-height: 1.71;
}

/* Чем мы занимаемся 'doing' */

.doing {
  padding-bottom: 94px;
}

.doing-list {
  display: flex;
}

.doing-subtitle {
  margin-bottom: 0px;
  color: var(--text-dark-theme-color);
}

.doing-list-item {
  position: relative;
  width: calc((100% - 60px) / 3);
}

.doing-list-item:not(:last-child) {
  margin-right: 30px;
}

.doing-img {
  display: block;
}

.doing-subtitle {
  position: absolute;
  bottom: 0;
  width: 100%;
  padding-top: 27px;
  padding-bottom: 27px;
  text-align: center;
  background-color: rgba(47, 48, 58, 0.8);
}

/* НАША КОМАНДА */

.team {
  padding-top: 94px;
  padding-bottom: 94px;
  background: #f5f4fa;
}

.team-list {
  display: flex;
}

.team-list-item {
  width: calc((100% - 90px) / 4);

  box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.2), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 1px 3px rgba(0, 0, 0, 0.12);
  border-radius: 0px 0px 4px 4px;
}

.team-list-item:not(:last-child) {
  margin-right: 30px;
}

.team-img {
  display: block;
}

.team-name-block {
  padding: 30px 32px 24px 32px;
  background-color: var(--text-dark-theme-color);
}

.team-name {
  margin-top: 0px;
  margin-bottom: 10px;

  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
}

.team-profession {
  margin-top: 0px;
  margin-bottom: 16px;
  color: var(--secomdary-text-color);

  font-size: 16px;
  line-height: 1.19;
  text-align: center;
}

.team-social-list {
  display: flex;
}

.team-social-link {
  display: flex;
  width: 44px;
  height: 44px;
  justify-content: center;
  align-items: center;
  border-radius: 50%;

  fill: var(--social-link-color);

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.team-social-list-item:not(:last-child) {
  margin-right: 10px;
}

.team-social-link:hover,
.team-social-link:focus {
  background-color: var(--accent);
}

.team-social-link:hover .team-social-icons,
.team-social-link:focus .team-social-icons {
  fill: var(--text-dark-theme-color);
}

/* ПОСТОЯННЫЕ КЛИЕНТЫ */

.clients {
  padding-top: 94px;
  padding-bottom: 94px;
}

.clients-list {
  display: flex;
}

.clients-list-item:not(:last-child) {
  margin-right: 30px;
}

.clients-list-item-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 170px;
  height: 90px;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.clients-icons {
  fill: var(--social-link-color);
}

.clients-list-item-link:hover,
.clients-list-item-link:focus {
  border: 1px solid var(--accent);
}

.clients-list-item-link:hover .clients-icons,
.clients-list-item-link:focus .clients-icons {
  fill: var(--accent);
}

/* ПОДВАЛ */

.footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: var(--footer-background-color);
}

.footer-block {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

.first-footer-block {
  min-width: 270px;
  width: calc((50% - 45px) / 2);
}

.footer-forma {
  min-width: 570px;
  width: calc(50% - 15px);
}

.footer-address-block > a {
  color: var(--text-dark-theme-color);
}

.logo-f {
  margin-right: 0px;
  margin-bottom: 20px;
}

.footer-address-list-item-link {
  color: rgba(255, 255, 255, 0.6);

  font-size: 14px;
  line-height: 1.71;
}

.footer-social-list {
  display: flex;
}

.footer-address-list-item:not(:last-child) {
  margin-bottom: 9px;
}

.footer-social-list-item {
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
}

.footer-social-link {
  display: flex;
  width: 44px;
  height: 44px;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-social-link:hover,
.footer-social-link:focus {
  background-color: var(--accent);
}

.footer-social-list-item:not(:last-child) {
  margin-right: 10px;
}

.join-icons {
  fill: var(--text-dark-theme-color);
}

.street {
  color: var(--text-dark-theme-color);
}

.footer-subtitle {
  display: block;
  margin-bottom: 20px;
  color: var(--text-dark-theme-color);
}

.footer-subtitle-form {
  margin-bottom: 25px;
}

.footer-btn {
  display: flex;
  padding: 10px 28px;
  align-items: center;

  color: var(--text-dark-theme-color);
  background-color: var(--accent);

  font-weight: bold;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-align: center;

  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;
  cursor: pointer;
  outline: none;
}

.footer-icon-plane {
  margin-left: 10px;
}

.footer-forma > form {
  display: flex;
}

.email-forma {
  width: 358px;
  height: 50px;
  padding-left: 16px;
  margin-right: 12px;

  font-size: 16px;
  line-height: 0.8;
  letter-spacing: 0.03em;

  background-color: var(--footer-background-color);
  color: rgba(255, 255, 255, 0.6);

  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
}

.email-forma:focus {
  outline: none;
}

.email-forma:focus:valid:not(:placeholder-shown) {
  border: 1px solid green;
}

.email-forma:focus:invalid:not(:placeholder-shown) {
  border: 1px solid red;
}

/* СТРАНИЦА ПОРТФОЛИО */

.portfolio {
  padding-top: 94px;
  padding-bottom: 94px;
}
/* кнопки портфолио btn */
.portfolio-btn-list {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

.portfolio-btn-list-item:not(:last-child) {
  margin-right: 8px;
}

.portfolio-btn {
  padding: 6px 22px;

  background: #f5f4fa;

  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  border: 1px solid #f5f4fa;
  border-radius: 4px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-btn:hover,
.portfolio-btn:focus {
  background-color: var(--accent);
  color: var(--text-dark-theme-color);
  border: 1px solid var(--accent);
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.12), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 3px 1px rgba(0, 0, 0, 0.1);
  outline: none;
}

/* карточки портфолио */
.portfolio-cards-list {
  display: flex;
  flex-wrap: wrap;
}

.portfolio-cards-list-item {
  /* position: relative; */
  width: calc((100% - 60px) / 3);
  margin-right: 30px;
  margin-bottom: 30px;

  border: 1px solid #eeeeee;
}

.portfolio-cards-list-item-link:hover,
.portfolio-cards-list-item-link:focus {
  box-shadow: 1px 4px 6px rgba(0, 0, 0, 0.16), 0px 4px 4px rgba(0, 0, 0, 0.06),
    0px 1px 1px rgba(0, 0, 0, 0.12);
}

.portfolio-cards-list-item:nth-child(3n) {
  margin-right: 0;
}

.portfolio-cards-list-item:nth-last-child(-n + 3) {
  margin-bottom: 0;
}

.portfolio-cards-list-item-link:hover .portfolio-overlay-cards,
.portfolio-cards-list-item-link:focus .portfolio-overlay-cards {
  opacity: 1;
  transform: translateY(0);
}

.portfolio-cards-img {
  display: block;
}

.cards-top {
  display: block;
  position: relative;
  overflow: hidden;
}

.portfolio-overlay-cards {
  opacity: 0;
  padding: 63px 24px;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1),
    opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);

  font-size: 18px;
  line-height: 1.55;
  letter-spacing: 0.03em;

  color: var(--text-dark-theme-color);
  background-color: rgba(33, 150, 243, 0.9);
}

.cards-bottom {
  padding: 20px 24px;
}

.portfolo-subtitle {
  margin-top: 0;
  margin-bottom: 4px;
  color: var(--primary-text-color);

  font-weight: bold;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.portfolo-subtitle-type {
  margin-top: 0;
  margin-bottom: 0;
  color: var(--secomdary-text-color);

  font-size: 16px;
  line-height: 1.87;
}

/* MODAL WINDOW */

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 40px;
  min-width: 528px;

  text-align: center;
  background-color: #fff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}

.modal-title {
  font-weight: bold;
  font-size: 20px;
  line-height: 1.15;

  letter-spacing: 0.03em;

  /* color: #212121; */
}

.modal-input {
  /* position: relative; */
  /* display: block; */
  /* margin-top: 28px; */
  padding: 10px 42px;
  width: 100%;

  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form-block {
  position: relative;
  margin-top: 28px;
}

.modal-label {
  position: absolute;
  top: 50%;
  left: 42px;
  transform: translateY(-50%);

  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.01em;

  color: #757575;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1),
    font-size 250ms cubic-bezier(0.4, 0, 0.2, 1),
    line-height 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-input:focus,
.modal-textarea:focus {
  outline: none;
  border: 1px solid var(--accent);
}

.modal-input:focus + .modal-label,
.modal-input:not(:placeholder-shown) + .modal-label {
  left: 16px;
  top: 0;
  transform: translateY(calc(-100% - 4px));
  color: var(--accent);

  font-size: 12px;
  line-height: 0.86;
}

.modal-label-icons {
  position: absolute;
  left: 18px;
  top: 50%;
  transform: translateY(-50%);

  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-input:focus ~ .modal-label-icons {
  fill: var(--accent);
}

.modal-textarea {
  resize: none;
  width: 100%;
  min-height: 120px;
  padding: 12px 16px;
  margin-top: 28px;

  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
}

.modal-textarea::placeholder {
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.01em;
  outline: none;

  color: var(--secomdary-text-color);
}

.modal-btn-close {
  position: absolute;
  top: 8px;
  right: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;

  background-color: #fff;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  cursor: pointer;
}

.modal-icon-close {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-btn-close:hover .modal-icon-close {
  fill: var(--accent);
}

.modal-checkbox-label {
  display: flex;
  align-items: center;
  margin-top: 20px;
}

.modal-checkbox-label {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  cursor: pointer;

  color: var(--secomdary-text-color);
}

.modal-checkbox-link {
  color: var(--accent);
}

.modal-checkbox-input {
  position: absolute;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.modal-checkbox-label + button {
  margin-top: 30px;
}

.checkbox-icon {
  display: inline-block;
  margin-left: 13px;
  margin-right: 7px;
  width: 16px;
  height: 15px;

  border: 2px solid var(--primary-text-color);
  border-radius: 4px;
  flex-shrink: 0;
}

.checkbox-icon + a {
  margin-left: 5px;
}

.modal-checkbox-input:checked + .checkbox-icon {
  border-color: transparent;
  background-image: url(../images/checkbox_icon.svg);
  background-color: var(--accent);
  background-size: contain;
  background-origin: border-box;
}
