/* карточки портфолио */
.portfolio-cards-list {
  display: flex;
  flex-wrap: wrap;
}

.portfolio-cards-list-item {
  /* position: relative; */
  width: calc((100% - 60px) / 3);
  margin-right: 30px;
  margin-bottom: 30px;

  border: 1px solid #eeeeee;
}

.portfolio-cards-list-item-link:hover,
.portfolio-cards-list-item-link:focus {
  box-shadow: 1px 4px 6px rgba(0, 0, 0, 0.16), 0px 4px 4px rgba(0, 0, 0, 0.06),
    0px 1px 1px rgba(0, 0, 0, 0.12);
}

.portfolio-cards-list-item:nth-child(3n) {
  margin-right: 0;
}

.portfolio-cards-list-item:nth-last-child(-n + 3) {
  margin-bottom: 0;
}

.portfolio-cards-list-item-link:hover .portfolio-overlay-cards,
.portfolio-cards-list-item-link:focus .portfolio-overlay-cards {
  opacity: 1;
  transform: translateY(0);
}

.portfolio-cards-img {
  display: block;
}

.cards-top {
  display: block;
  position: relative;
  overflow: hidden;
}

.portfolio-overlay-cards {
  opacity: 0;
  padding: 63px 24px;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1),
    opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);

  font-size: 18px;
  line-height: 1.55;
  letter-spacing: 0.03em;

  color: var(--text-dark-theme-color);
  background-color: rgba(33, 150, 243, 0.9);
}

.cards-bottom {
  padding: 20px 24px;
}

.portfolo-subtitle {
  margin-top: 0;
  margin-bottom: 4px;
  color: var(--primary-text-color);

  font-weight: bold;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.portfolo-subtitle-type {
  margin-top: 0;
  margin-bottom: 0;
  color: var(--secomdary-text-color);

  font-size: 16px;
  line-height: 1.87;
}
