.team {
  padding-top: 94px;
  padding-bottom: 94px;
  background: #f5f4fa;
}

.team-list {
  display: flex;
}

.team-list-item {
  width: calc((100% - 90px) / 4);

  box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.2), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 1px 3px rgba(0, 0, 0, 0.12);
  border-radius: 0px 0px 4px 4px;
}

.team-list-item:not(:last-child) {
  margin-right: 30px;
}

.team-img {
  display: block;
}

.team-name-block {
  padding: 30px 32px 24px 32px;
  background-color: var(--text-dark-theme-color);
}

.team-name {
  margin-top: 0px;
  margin-bottom: 10px;

  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
}

.team-profession {
  margin-top: 0px;
  margin-bottom: 16px;
  color: var(--secomdary-text-color);

  font-size: 16px;
  line-height: 1.19;
  text-align: center;
}

.team-social-list {
  display: flex;
}

.team-social-link {
  display: flex;
  width: 44px;
  height: 44px;
  justify-content: center;
  align-items: center;
  border-radius: 50%;

  fill: var(--social-link-color);

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.team-social-list-item:not(:last-child) {
  margin-right: 10px;
}

.team-social-link:hover,
.team-social-link:focus {
  background-color: var(--accent);
}

.team-social-link:hover .team-social-icons,
.team-social-link:focus .team-social-icons {
  fill: var(--text-dark-theme-color);
}
