.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 40px;
  min-width: 528px;

  text-align: center;
  background-color: #fff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}

.modal-title {
  font-weight: bold;
  font-size: 20px;
  line-height: 1.15;

  letter-spacing: 0.03em;

  /* color: #212121; */
}

.modal-input {
  /* position: relative; */
  /* display: block; */
  /* margin-top: 28px; */
  padding: 10px 42px;
  width: 100%;

  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form-block {
  position: relative;
  margin-top: 28px;
}

.modal-label {
  position: absolute;
  top: 50%;
  left: 42px;
  transform: translateY(-50%);

  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.01em;

  color: #757575;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1),
    font-size 250ms cubic-bezier(0.4, 0, 0.2, 1),
    line-height 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-input:focus,
.modal-textarea:focus {
  outline: none;
  border: 1px solid var(--accent);
}

.modal-input:focus + .modal-label,
.modal-input:not(:placeholder-shown) + .modal-label {
  left: 16px;
  top: 0;
  transform: translateY(calc(-100% - 4px));
  color: var(--accent);

  font-size: 12px;
  line-height: 0.86;
}

.modal-label-icons {
  position: absolute;
  left: 18px;
  top: 50%;
  transform: translateY(-50%);

  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-input:focus ~ .modal-label-icons {
  fill: var(--accent);
}

.modal-textarea {
  resize: none;
  width: 100%;
  min-height: 120px;
  padding: 12px 16px;
  margin-top: 28px;

  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
}

.modal-textarea::placeholder {
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.01em;
  outline: none;

  color: var(--secomdary-text-color);
}

.modal-btn-close {
  position: absolute;
  top: 8px;
  right: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;

  background-color: #fff;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  cursor: pointer;
}

.modal-icon-close {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-btn-close:hover .modal-icon-close {
  fill: var(--accent);
}

.modal-checkbox-label {
  display: flex;
  align-items: center;
  margin-top: 20px;
}

.modal-checkbox-label {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  cursor: pointer;

  color: var(--secomdary-text-color);
}

.modal-checkbox-link {
  color: var(--accent);
}

.modal-checkbox-input {
  position: absolute;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.modal-checkbox-label + button {
  margin-top: 30px;
}

.checkbox-icon {
  display: inline-block;
  margin-left: 13px;
  margin-right: 7px;
  width: 16px;
  height: 15px;

  border: 2px solid var(--primary-text-color);
  border-radius: 4px;
  flex-shrink: 0;
}

.checkbox-icon + a {
  margin-left: 5px;
}

.modal-checkbox-input:checked + .checkbox-icon {
  border-color: transparent;
  background-image: url(../images/checkbox_icon.svg);
  background-color: var(--accent);
  background-size: contain;
  background-origin: border-box;
}
